# === Camera Info ===
# note: these are all optional

*focusPositionX
#300
#0.06865 
0.65

*focusPositionY
#300
0.1
*focusPositionZ
#650
0.0728166
#0.5

*cameraRadius
1.5
#0.95

*cameraLongitude
#-118.361
-90

*cameraLatitude
#18.34
30

*zBufferNear
0.05

*zBufferFar
10

*lightingFilename
../../models/cloth/cloth.lighting

# === End Camera Info ===

# === Force Parameters ===

*surfaceDensity
0.047

*testingMode
1


*tensStiff1
8.757
*tensStiff2
3

*shearStiff1
8.751
*shearStiff2
3

*bendStiff1
9
*bendStiff2
-4

# === Actual mode ===
*tensileStiffness
700000


*shearStiffness
700000
#29074.6

*bendStiffnessUV
0.0009

*timeStep
0.01

*useRestAngles
0

*dampingMass
0.0

*dampingStiffness
0.1

# === End Force Parameters ===

# === Simulation Parameters ===

*forceMagnitude
0.25

*numInternalForceThreads
6

*numSolverThreads
2

*addGravity
1

*gravityForce
9.81
#0

*computeStretchShearForce
1

*computeStretchShearStiffness
1

*computeBendForce
1

*computeBendStiffness
1

*mousePower
0.05


# === End Simulation Parameters ===

# === object file info ===

*objMeshname
/home/cam_sanding/camera_catkin_ws/src/ensenso_utilities/pcd_data/large_01292020/mesh5_4.obj
#/home/cam_sanding/camera_catkin_ws/src/ensenso_utilities/pcd_data/boeing_02212020/mesh5_4.obj

*dataNumber
1
*trainingFilename
/home/cam_sanding/camera_catkin_ws/src/ensenso_utilities/pcd_data/center_data/large_01292020/test/new_center_grip5_curve_4.csv
#/home/cam_sanding/camera_catkin_ws/src/ensenso_utilities/pcd_data/center_data/boeing_02212020/test/new_center_grip5_curve_4.csv

*inittrainingFilename
/home/cam_sanding/camera_catkin_ws/src/ensenso_utilities/pcd_data/center_data/boeing_update/test/new_center_grip5_marker_4.csv

*fixnum
5

# === end object file info ===

