# === Camera Info ===
# note: these are all optional

*focusPositionX
#300
#0.06865 
0.65

*focusPositionY
#300
0.1
*focusPositionZ
#650
0.0728166
#0.5

*cameraRadius
1.5
#0.95

*cameraLongitude
#-118.361
-90

*cameraLatitude
#18.34
30

*zBufferNear
0.05

*zBufferFar
10


# === End Camera Info ===

# === FEM Parameters ===
*is_FEM_on
1

*density
0.047
*thickness
0.001
*poisson
0.3

*timesteps
0.01

*iterations
1



*ShearAndStretchMaterial1
0.678
*ShearAndStretchMaterial2
3

*bendMaterial1
7.86
*bendMaterial2
5


# === BW mode ===
*tensileStiffness
8987.39

*shearStiffness
2978.33

*bendStiffnessUV
0.0009


# === End Force Parameters ===



# === object file info ===

*objMeshname
/home/cam_sanding/composite_ws/src/sheet_model_training/mesh/boeing/mesh5_1.obj


*trainingFilename
/home/cam_sanding/composite_ws/src/sheet_model_training/data/boeing/new_center_grip5_curve_1.csv

*fixnum
5
# === end object file info ===

